@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a, a:link, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 700;
  margin-top: 116px; }

.container-main {
  max-width: 1440px;
  position: relative;
  margin: 0 auto; }

.container {
  width: calc(100% - 160px);
  margin-left: 160px; }

.container-lib {
  width: 100%; }

.activeText {
  color: #1C2A39; }

.invisible {
  display: none; }

@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    margin-top: 70px; }

  .container-main {
    max-width: 1024px; }

  .container {
    width: calc(100% - 80px);
    margin-left: 80px; } }
@media (max-width: 1023px) {
  body {
    margin-top: 40px; }

  .container-main {
    max-width: 600px; }

  .container {
    width: calc(100% - 50px);
    margin-left: 50px; } }
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 160px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  z-index: 20; }

.header__logo {
  font-size: 24px;
  line-height: 29px;
  color: #1C2A39;
  width: 15%; }

.header__menu {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  width: 70%; }

.header__menu ul {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__menu ul li {
  padding: 0 20px; }

.header__menu-item > a {
  text-decoration: none;
  color: #5C6A79; }

.header__menu-item.activeText > a {
  color: #1C2A39; }

.header__icons {
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%; }

.header__icons > button {
  width: 15px;
  height: 17px; }

.header__icons__cart {
  position: relative; }

.header__icons__cart__num {
  position: absolute;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  background-color: #FF353A;
  width: 13px;
  height: 13px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
  color: #FFFFFF; }

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    padding: 21px 80px 20px; } }
@media (max-width: 1023px) {
  header {
    padding: 15px 50px 10px; }

  .header__logo {
    font-size: 18px;
    line-height: 23px; }

  .header__menu ul li {
    padding: 0 10px; }

  .header__icons {
    min-width: 70px; }

  .header__icons > button {
    width: 10px;
    height: 10px; }

  .header__icons__cart__num {
    width: 10px;
    height: 10px; } }
.slider {
  max-width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1057px 63px 23px 63px 74px;
  grid-template-rows: 79px 204px 76px 273px 70px 30px; }

.slider__images {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  transition: all ease 1s; }

.slider__images img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  opacity: 0; }

.slider__images img.active {
  opacity: 1; }

.slider__colorBlocks {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 20px;
  align-content: end;
  box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28); }

.slider__colorBlocks > a {
  color: #1C2A39; }

.block-top {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background-color: #9E98DC; }

.block-down {
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  background-color: #FF8FE6;
  padding-right: 47px; }

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 6 / 7; }

.slider__dots-item {
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin: 17px 10px 0;
  background-color: #EFEEF6;
  border-radius: 100%;
  transition: all 0.4s ease; }

.slider__dots-item:hover, .slider__dots-item.active {
  background-color: #9E98DC; }

@media (min-width: 1024px) and (max-width: 1439px) {
  .slider {
    margin-bottom: 50px;
    grid-template-columns: 1fr 33px 12px 33px 35px;
    grid-template-rows: 65px 178px 68px 216px 64px 30px; }

  .slider__colorBlocks {
    font-size: 14px;
    line-height: 18px;
    padding: 10px; }

  .block-down {
    padding-right: 10px; } }
@media (max-width: 1023px) {
  .slider {
    max-width: 100%;
    margin-bottom: 30px;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 20px; }

  .slider__images {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }

  .slider__colorBlocks {
    display: none; }

  .block-top {
    grid-column: unset;
    grid-row: unset; }

  .block-down {
    grid-column: unset;
    grid-row: unset; }

  .slider__dots {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }

  .slider__dots-item {
    width: 5px;
    height: 5px;
    margin: 5px 5px 0; } }
.bookshop {
  display: grid;
  grid-template-columns: 160px 196px 60px 1fr 160px;
  grid-template-rows: 46px 1fr 1fr 120px;
  margin-bottom: 75px; }

.bg {
  display: grid;
  grid-template-columns: 160px 196px 60px;
  grid-template-rows: 46px 1fr 60px;
  grid-column: 1/4;
  grid-row: 1/3;
  background-color: #EFEEF6; }

.category {
  grid-column: 2/3;
  grid-row: 2/auto; }

.category__item {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  padding-bottom: 2em;
  color: #5C6A79;
  cursor: pointer; }

.activeItem {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  color: #1C2A39;
  position: relative; }

.activeItem::before {
  content: url(../img/icons/Ellipse.svg);
  position: absolute;
  left: -14px;
  top: -3px; }

.output {
  grid-column: 3/5;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, 424px);
  grid-template-rows: repeat(auto-fill, 300px);
  column-gap: 76px;
  row-gap: 96px; }

.output__card {
  display: flex; }

.card__cover {
  flex: 0 0 50%; }

.card__cover img {
  width: 212px;
  height: 300px;
  box-shadow: 0px 24px 36px 0px #35315447; }

.card__text {
  flex: 0 0 50%;
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.card__text-author {
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 13.62px;
  color: #5C6A79; }

.card__text-title {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 19.5px;
  color: #1C2A39; }

.card__text-rating {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 13.62px; }

.rating__icons {
  position: relative; }

.rating__icons::before {
  content: "★    ★    ★    ★    ★";
  display: block;
  color: #EEEDF5;
  font-size: 13px; }

.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }

.rating__active::before {
  content: "★    ★    ★    ★    ★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 13px;
  color: #F2C94C; }

.rating__text {
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 13.62px;
  padding-left: 6px;
  color: #5C6A79; }

.card__text-summary {
  padding: 16px 0;
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 13.62px;
  color: #5C6A79; }

.card__text-summary p {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.card__text-price {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 15.85px;
  color: #1C2A39;
  padding-bottom: 16px; }

.card__text-btn {
  width: 100%;
  height: 45px;
  color: #4C3DB2;
  border: 1px solid #4C3DB2;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase; }

.in-the-cart {
  color: #5C6A79;
  border: 1px solid #EEEDF5; }

.loadMore {
  grid-column: 3/5;
  grid-row: 4/5;
  width: 176px;
  height: 45px;
  justify-self: center;
  margin-top: 96px;
  font-family: 'Montserrat';
  font-size: 8px;
  font-weight: 700;
  line-height: 9.75px;
  text-transform: uppercase;
  color: #4C3DB2;
  border: 1px solid #4C3DB2; }

@media (min-width: 1024px) and (max-width: 1439px) {
  .bookshop {
    grid-template-columns: 80px 196px 60px 1fr 80px;
    grid-template-rows: 46px 1fr 1fr 120px; }

  .bg {
    grid-template-columns: 80px 196px 60px; }

  .output {
    column-gap: 40px;
    row-gap: 70px; } }
@media (max-width: 1023px) {
  .bookshop {
    grid-template-columns: 50px 120px 40px 1fr 50px;
    grid-template-rows: 46px 1fr 1fr 60px;
    margin-bottom: 40px; }

  .bg {
    display: grid;
    grid-template-columns: 50px 120px 40px;
    grid-template-rows: 46px 1fr 60px;
    grid-column: 1/4;
    grid-row: 1/3; }

  .category {
    grid-column: 2/3;
    grid-row: 2/auto; }

  .category__item {
    padding-bottom: 1em;
    padding-right: 5px; }

  .activeItem {
    font-size: 15px;
    line-height: 17px; }

  .output {
    grid-column: 3/5;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-template-rows: repeat(auto-fill, 240px);
    column-gap: 20px;
    row-gap: 30px; }

  .card__cover img {
    width: 170px;
    height: 240px;
    box-shadow: 0px 12px 18px 0px #35315447; }

  .card__text {
    flex: 0 0 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .card__text-author {
    font-size: 10px;
    line-height: 13.62px; }

  .card__text-title {
    font-size: 12px;
    line-height: 13px; }

  .card__text-rating {
    font-size: 10px;
    line-height: 11px; }

  .rating__icons::before {
    content: "★ ★ ★ ★ ★";
    font-size: 10px; }

  .rating__active::before {
    content: "★ ★ ★ ★ ★";
    font-size: 10px; }

  .rating__text {
    font-size: 10px;
    line-height: 11px;
    padding-left: 5px; }

  .card__text-summary {
    padding: 10px 0;
    font-size: 10px;
    line-height: 11px; }

  .card__text-price {
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 10px; }

  .card__text-btn {
    height: 30px;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px; }

  .loadMore {
    grid-column: 3/5;
    grid-row: 4/5;
    width: 176px;
    height: 45px;
    margin-top: 96px;
    font-size: 8px;
    font-weight: 700;
    line-height: 9.75px; } }

/*# sourceMappingURL=main.css.map */
